<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
</head>
<body>
<h3>>我的客户</h3>
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>客户姓名</th>
                    <th>最后跟进时间</th>
                    <th>跟进状态</th>

                </tr>
                </thead>
                <tbody>
               {% for customer_distrbute in customer_distrbute_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ customer_distrbute.customer}}</td>
                    <td>{{  customer_distrbute.date }}</td>
                    <td>{{ customer_distrbute.get_status_display  }}</td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



</body>
</html>